{% extends "base.html" %}
{% block content %}
{% load static %}


    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_2">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>{{page_title}}</h3>
                        <p>{{ even.small_description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

 <!-- where_togo_area_start  -->
    <div class="where_togo_area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3">
                    <div class="form_area">
                        <h3>Where you want to go?</h3>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="search_wrap">
                        <form class="search_form" method="get" action="{% url 'search_results' %}">
                            <div class="input_field">
                                <input type="text"  name="q" id="name" placeholder="Where to go?">
                            </div>
                             <div class="input_field">
                                <input id="datepicker" placeholder="Date">
                            </div>
                            <div class="input_field">
                              <select name="q" id="Type">
                                   <option data-display="Travel type">Travel type</option>
                                   <option value="ADVENTURE">Adventure</option>
                                   <option value="COUPLE">Couple</option>
                                   <option value="FAMILY">Family</option>
                                   <option value="GROUP">Group</option>
                                   <option value="NATURE">Nature</option>
                                   <option value="SOLO">Solo</option>
                                   <option value="RELIGOUS">Religous</option>
                                   <option value="WATER_ACTIVITIES">Water Activities</option>
								</select>
                            </div>
                            <div class="search_btn">
                                <button class="boxed-btn4 " type="submit" name="submit" >Search</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="popular_places_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="filter_result_wrap">
                        <h3>Filter Result</h3>
                        <div class="filter_bordered">
                            <form class="search_form" method="get" action="{% url 'search_results' %}">
                            <div class="filter_inner">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="single_select">
                                            <select name="q">
                                                <option data-display="Region">Region</option>
                                                <option value="Himachal_Pradesh">Himachal Pradesh</option>
                                                <option value="Uttarakhand">Uttarakhand</option>
                                                <option value="leh ladakh">leh ladakh</option>
                                                <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                                <option value="Meghalaya">Meghalaya</option>
                                                <option value="Goa">Goa</option>

                                              </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="single_select">
                                            <select name="q" id="Type">
                                   <option data-display="Travel type">Travel type</option>
                                   <option value="ADVENTURE">Adventure</option>
                                   <option value="COUPLE">Couple</option>
                                   <option value="FAMILY">Family</option>
                                   <option value="GROUP">Group</option>
                                   <option value="NATURE">Nature</option>
                                   <option value="SOLO">Solo</option>
                                   <option value="RELIGOUS">Religous</option>
                                   <option value="WATER_ACTIVITIES">Water Activities</option>
								</select>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="single_select">
                                            <select naem="q">
                                                <option data-display="Duration">Duration</option>
                                                <option value="1">advance</option>
                                                <option value="2">advance</option>
                                                <option value="4">premium</option>
                                              </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="range_slider_wrap">
                                            <span class="range">Prise range</span>
                                            <div id="slider-range"></div>
                                            <p>
                                                <input type="text" id="amount"  style="border:0; color:#7A838B; font-weight:400;">
                                            </p>
                                        </div>
                                    </div>

                                </div>


                            </div>

                            <div class="reset_btn">
                                <button class="boxed-btn4" name="submit" type="submit">Reset</button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        {% for Destinations in object_list %}
                        <div class="col-lg-6 col-md-6">

                            <div class="single_place">
                                <div class="thumb">
                                    <img data-desc="{{Destinations.small_description}}" dat-text="{{Destinations.name}}" class="open" src="{{Destinations.img.url}}" >
                                    <a href="#" class="prise">₹ {{Destinations.price}}</a>
                                </div>
                                <div class="place_info">
                                    <a href="destination_details.html"><h3>{{Destinations.name}}</h3></a>
                                    <p>{{Destinations.region}}</p>
                                    <div class="rating_days d-flex justify-content-between">
                                        <span class="d-flex justify-content-center align-items-center">
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                             <a href="#">(20 Review)</a>
                                        </span>
                                        <div class="days">
                                            <i class="fa fa-clock-o"></i>
                                            <a href="#">{{Destinations.duration}} days</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="row">
                        {% for e in even %}
                        <div class="col-lg-6 col-md-6">

                            <div class="single_place">
                                <div class="thumb">
                                    <img data-desc="{{e.small_description}}" dat-text="{{e.name}}" class="open" src="{{e.img.url}}" >
                                    <a href="destination/details/{{ e.id }}" class="prise">₹ {{e.price}}</a>
                                </div>
                                <div class="place_info">
                                    <a href="destination/details/{{ e.id }}"><h3>{{e.name}}</h3></a>
                                    <p>{{e.region}}</p>
                                    <div class="rating_days d-flex justify-content-between">
                                        <span class="d-flex justify-content-center align-items-center">
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                             <a href="#">(20 Review)</a>
                                        </span>
                                        <div class="days">
                                            <i class="fa fa-clock-o"></i>
                                            <a href="destination/details/{{ e.id }}">{{e.duration}} days</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="more_place_btn text-center">
                                <a class="boxed-btn4" href="/destination">More Places</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


 <!--Creates the popup body-->
				 <div id="overlay" style="display:none;"></div>
			    	<div class="popup-overlay">
				  <!--Creates the popup content-->
				         <div class="popup-content">
                             <div class="body">
							    <div class="imagefild">
								    <img class="image_get" src=""/>
						    	</div>
							    <div class="text">
								    <div class="header__pop">
								    	<h2 class="header_title"> </h2>
									    <p class="details_text"></p>

							    	</div>
							    </div>
                             </div>
					<!--popup's close button-->
					<button class="close">X</button> </div>
				</div>

{% endblock content %}





