{% include "base.html" %}
{% block content %}
{% load static %}
	<!-- Home -->
	{% for home_back in home_back %}

	<div class="home">


		<div class="home_background" style="background-image:url({{home_back.background_image.url}})"></div>



		<div class="home_content">
			<div class="home_content_inner">
				<div class="home_text_large">{{home_back.text_large}}</div>
				<div class="home_text_small">{{home_back.text_small}}</div>
			</div>
		</div>
	</div>
	{% endfor %}

	<!-- Find Form -->



	<div class="find">
		<div class="find_background parallax-window" data-parallax="scroll" data-image-src="{% static 'images/find.jpg' %}" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="find_title text-center">Find the Adventure of a lifetime</div>
				</div>
				<div class="col-12">
					<div class="find_form_container">
						<form method="GET" id="find_form" class="find_form d-flex flex-md-row flex-column align-items-md-center align-items-start justify-content-md-between justify-content-start flex-wrap">
							{% csrf_token %}
							<div class="find_item">
								<div>Destination:</div>
								<input type="text"  name="name" id="name" class="destination find_input" required="required" placeholder="Keyword here">
							</div>
							<div class="find_item">
								<div>Adventure type:</div>
								<select name="CHOICES" id="Type" class="dropdown_item_select find_input">
									<option value="w">WildLife</option>
									<option value="a">Advan</option>
									<option value="f">Widthfrandes</option>
									<option value="s">Solo</option>
								</select>
							</div>
							<div class="find_item">
								<div>Min price</div>
								<select name="price" id="price" class="dropdown_item_select find_input">
									<option>&nbsp;</option>
									<option>Price</option>
									<option>Price</option>
								</select>
							</div>
							<button class="button find_button" type="submit">Find</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Top Destinations -->

	<div class="top">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title text-center">
						<h2>Destinations</h2>
						<div>Take A Look At These Mountains </div>
					</div>
				</div>
			</div>
			<div class="row top_content">
						{% for dests in top_dest %}
				<div class="col-lg-3 col-md-6 top_col">

					<!-- Top Destination Item -->
					<div class="top_item">

							<div class="top_item_image"><img data-desc="{{dests.detail}}" dat-text="{{dests.name}}" class="open" src="{{dests.img.url}}" ></div>
							<div class="top_item_content">
								<div class="top_item_price">Price ₹ {{dest.price}}</div>
								<div class="top_item_text">{{dest.name}}</div>
							</div>
						</a>
					</div>
				</div>

						{% endfor %}
				 <!--Creates the popup body-->
				 <div id="overlay" style="display:none;"></div>
				<div class="popup-overlay">
				  <!--Creates the popup content-->
				  <div class="popup-content">
					<div class="body">
							<div class="imagefild">
								<img class="image_get" src=""/>
							</div>					
							<div class="text">			
								<div class="header__pop">
									<h2 class="header_title"> </h2>
									<p class="details_text"></p>
									<button >Book Now</button>
								</div>						
							</div>
					</div>
					<!--popup's close button-->
					<button class="close">X</button> </div>
				</div>
            </div>
        </div>
    </div>
	{% if user.is_authenticated %}
	<div class="last">
		<div class="last_background parallax-window" data-parallax="scroll" data-image-src="{% static 'images/last.jpg' %}" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="last_logo"><img src="{% static 'images/last_logo.png' %}" alt=""></div>
				<div class="col-lg-6 last_col">
					<div class="last_item">
						<div class="last_item_content">
							<div class="last_subtitle">Kareri lake</div>
							<div class="last_percent">30%</div>
							<div class="last_title">Last Minute Offer</div>
							<div class="last_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pulvinar sed mauris eget tincidunt. Sed lectus nulla, tempor vel.</div>
							<div class="button last_button"><a href="offers">See Offer</a></div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 last_col">
					<div class="last_item">
						<div class="last_item_content">
							<div class="last_subtitle">Sainj Valley</div>
							<div class="last_percent">20%</div>
							<div class="last_title">Last Minute Offer</div>
							<div class="last_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pulvinar sed mauris eget tincidunt. Sed lectus nulla, tempor vel.</div>
							<div class="button last_button"><a href="offers">See Offer</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endif %}
	<!-- Video -->

	<div class="video_section d-flex flex-column align-items-center justify-content-center">
		
		<div class="video_background parallax-window" data-parallax="scroll" data-image-src="{% static 'images/video.jpg' %}" data-speed="0.8"></div>
		<div class="video_content">
			<div class="video_title">A day on the Himalyas</div>
			<div class="video_subtitle">A trip organized by Pahari Yatri's team</div>
			<div class="video_play">
				<a  class="video" href="https://youtu.be/KDZq24L8u3Y">
					<svg version="1.1" id="Layer_1" class="play_button" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 width="140px" height="140px" viewBox="0 0 140 140" enable-background="new 0 0 140 140" xml:space="preserve">
						<g id="Layer_2">
							<circle class="play_circle" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" cx="70.333" cy="69.58" r="68.542"/>
							<polygon class="play_triangle" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" points="61.583,56 61.583,84.417 84.75,70 	"/>
						</g>
					</svg>
				</a>
			</div>
		</div>
	</div>

	<!-- Popular -->

	<div class="popular">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title text-center">
						<h2>Popular Destinations in 2018</h2>
						<div>take a look at these offers</div>
					</div>
				</div>
			</div>


			<div class="row">
				<div class="col">
					<div class="popular_content d-flex flex-md-row flex-column flex-wrap align-items-md-center align-items-start justify-content-md-between justify-content-start">
						{% for pdest in popular_dest %}
						<!-- Popular Item -->
						<div class="popular_item">
							<div class="top_item_image"><img data-desc="{{pdest.detail}}" dat-text="{{pdest.name}}" class="open" src="{{pdest.img.url}}" ></div>
								<div class="popular_item_content">
									<div class="popular_item_price">From ₹ {{pdest.price}}</div>
									<div class="popular_item_title">{{pdest.name}}</div>
								</div>
							</a>	
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>



	<!-- Special -->

	<div class="special">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title text-center">
						<h2>Weekend Getaways</h2>
						<div>Take a look at these homestays</div>
					</div>
				</div>
			</div>
		</div>
		<div class="special_content">
			<div class="special_slider_container">
				<div class="owl-carousel owl-theme special_slider">
					{% for soffers in special_offers %}
					<!-- Special Offers Item -->
					<div class="owl-item">
						<div class="special_item">
							<div class="special_item_background"><img src="{{soffers.img.url}}" alt="{{soffers.name}}"></div>
							<div class="special_item_content text-center">
								<div class="special_category">{{soffers.category}}</div>
								<div class="special_title"><a href="offers.html">{{soffers.name}}</a></div>
							</div>
						</div>
					</div>
                    {% endfor %}
				</div>

				<div class="special_slider_nav d-flex flex-column align-items-center justify-content-center">
					<img src="{% static 'images/special_slider.png' %}" alt="">
				</div>
			</div>
		</div>
	</div>

	<!-- Newsletter -->

	<div class="newsletter">
		<div class="newsletter_background" style="background-image:url({% static 'images/newsletter.jpg' %})"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					<div class="newsletter_content">
						<div class="newsletter_title text-center">Subscribe to our Newsletter</div>
						<div class="newsletter_form_container">
							<form action="#" id="newsletter_form" class="newsletter_form">
								<div class="d-flex flex-md-row flex-column align-content-center justify-content-between">
									<input type="email" id="newsletter_input" class="newsletter_input" placeholder="Your E-mail Address">
									<button type="submit" id="newsletter_button" class="newsletter_button">Subscribe</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}

	<footer class="footer">
		<div class="container">
			<div class="row">

				<!-- Footer Column -->
				<div class="col-lg-4 footer_col">
					<div class="footer_about">
						<!-- Logo -->
						<div class="logo_container">
							<div class="logo">
								<div>Pahari Yatri</div>
								<div>A Curly Boy Who Travel</div>
								<div class="logo_image"><img src="{% static 'images/logo.png' %}" alt=""></div>
							</div>
						</div>
						{% for thought in thoug %}
						<div class="footer_about_text">{{thought.text}}</div>
						{% endfor %}
						<div class="copyright">
							Copyright  All rights reserved
						</div>
					</div>
				</div>
				<!-- Footer Column -->
				<div class="col-lg-4 footer_col">
					<div class="footer_latest">
						<div class="footer_title">Latest News</div>
						<div class="footer_latest_content">

							<!-- Footer Latest Post -->
							<div class="footer_latest_item">
								<div class="footer_latest_image"><img src="{% static 'images/latest_1.jpg' %}" alt="https://unsplash.com/@peecho"></div>
								<div class="footer_latest_item_content">
									<div class="footer_latest_item_title"><a href="news.html">Manali Summer</a></div>
									<div class="footer_latest_item_date">Jan 09, 2019</div>
								</div>
							</div>

							<!-- Footer Latest Post -->
							<div class="footer_latest_item">
								<div class="footer_latest_image"><img src="{% static 'images/latest_2.jpg' %}" alt="https://unsplash.com/@sanfrancisco"></div>
								<div class="footer_latest_item_content">
									<div class="footer_latest_item_title"><a href="news.html">A perfect vacation</a></div>
									<div class="footer_latest_item_date">March 05, 2019</div>
								</div>
							</div>

						</div>
					</div>
				</div>

				<!-- Footer Column -->
				<div class="col-lg-4 footer_col">
					<div class="tags footer_tags">
						<div class="footer_title">Tags</div>
						<ul class="tags_content d-flex flex-row flex-wrap align-items-start justify-content-start">
							<li class="tag"><a href="#">travel</a></li>
							<li class="tag"><a href="#">summer</a></li>
							<li class="tag"><a href="#">cruise</a></li>
							<li class="tag"><a href="#">beach</a></li>
							<li class="tag"><a href="#">offer</a></li>
							<li class="tag"><a href="#">vacation</a></li>
							<li class="tag"><a href="#">trip</a></li>
							<li class="tag"><a href="#">city break</a></li>
							<li class="tag"><a href="#">adventure</a></li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!--<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>-->
<script src="{% static 'styles/bootstrap4/popper.js' %}"></script>
<script src="{% static 'styles/bootstrap4/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/OwlCarousel2-2.2.1/owl.carousel.js' %}"></script>
<script src="{% static 'plugins/easing/easing.js' %}"></script>
<script src="{% static 'plugins/parallax-js-master/parallax.min.js' %}"></script>
<script src="{% static 'plugins/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script>
//appends an "active" class to .popup and .popup-content when the "Open" button is clicked
jQuery(".open").on("click", function() {
jQuery("#overlay").show();
  jQuery(".popup-overlay, .popup-content").addClass("active");
  var dynamic= jQuery(this).attr("dat-text");
  var dynamictext= jQuery(this).attr("data-desc");
  jQuery(".text .details_text").text(dynamictext);
  //alert(dynamictext);
  jQuery(".header_title").text(dynamic);
  var image = jQuery(this).attr("src");
  jQuery(".image_get").attr('src', image);
 //alert(image);
});

//removes the "active" class to .popup and .popup-content when the "Close" button is clicked
$(".close, #overlay").on("click", function() {
jQuery("#overlay").hide();
  $(".popup-overlay, .popup-content").removeClass("active");
});
</script>
</div>



</body>



