{% extends "base.html" %}
{% block content %}
{% load static %}


  <!-- slider_area_start -->
    <div class="slider_area">
        <div class="slider_active owl-carousel">
            {% for ev in ev %}
            <div class="single_slider  d-flex align-items-center overlay" style="background-image: url({{ev.img.url}})">

                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-12 col-md-12">
                            <div class="slider_text text-center">
                                <h3>{{ev.location}}</h3>
                                <p>{{ ev.small_description }}</p>
                                <a href="destination/details/{{ e.id }}" class="boxed-btn3">Explore Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>

    </div>
    <!-- slider_area_end -->
  <!-- where_togo_area_start  -->
    <div class="where_togo_area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3">
                    <div class="form_area">
                        <h3>Where you want to go?</h3>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="search_wrap">
                        <form class="search_form" method="get" action="{% url 'search_results' %}">
                            <div class="input_field">
                                <input type="text"  name="q" id="name" placeholder="Where to go?">
                            </div>
                             <div class="input_field">
                                <input id="datepicker" placeholder="Date">
                            </div>
                            <div class="input_field">
                               <select name="q" id="Type">
                                   <option data-display="Travel type">Travel type</option>
									<option value="SOLO">SOLO</option>
            						<option value="FAMILY">FAMILY</option>
            						<option value="GROUP">GROUP</option>
                                   <option value="ROMANTIC">ROMANTIC</option>
								</select>
                            </div>


                            <div class="search_btn">
                                <button class="boxed-btn4 " type="submit" name="submit" >Search</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- where_togo_area_end  -->
    <div class="popular_places_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center mb_70">
                        <h3>Upcoming Destination</h3>
                        <p>Suffered alteration in some form, by injected humour or good day randomised booth anim 8-bit hella wolf moon beard words.</p>
                    </div>
                </div>
            </div>
            <div class="row">
		{% for e in even %}
                <div class="col-lg-4 col-md-6">
                    <div class="single_place">
                        <div class="thumb">
                            <img data-desc="{{e.small_description}}" dat-text="{{e.name}}" class="open" src="{{e.img.url}}" >
                            <a href="destination/details/{{ e.id }}" class="prise">₹ {{e.price}}</a>
                        </div>
                        <div class="place_info">
                            <a href="destination/details/{{ e.id }}"><h3>{{e.name}}</h3></a>
                            <p>{{e.location}}/{{e.region}}</p>
                            <div class="rating_days d-flex justify-content-between">
                                <span class="d-flex justify-content-center align-items-center">
                                     <i class="fa fa-star"></i>
                                     <i class="fa fa-star"></i>
                                     <i class="fa fa-star"></i>
                                     <i class="fa fa-star"></i>
                                     <i class="fa fa-star"></i>
                                     <a href="#">(20 Review)</a>
                                </span>
                                <div class="days">
                                    <i class="fa fa-clock-o"></i>
                                    <a href="destination/details/{{ e.id }}">{{e.duration}} days</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
		{% endfor %}

      	</div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="more_place_btn text-center">
                        <a class="boxed-btn4" href="/destination">More Places</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="where_togo_area">
        <div class="container">

                <div id="exampleSlider">
       <div class="MS-content">
           {% for e in even %}
           <div class="item">

 <a href="/destination/details/{{ e.id }}">
                                <img src="{{e.img.url}}" style="width: 210px; /* width of container */
    height: 230px; /* height of container */
    object-fit: cover;
    border: 5px ;" alt="" />
                                 <h4>NATURE</h4>
                            <p>{{ e.name }} destinations</p>
 </a>
                        </div>
           {% endfor %}
           <div class="item">
               <p>Item<br>2</p>
           </div>
           <div class="item">
               <p>Item<br>3</p>
           </div>
           <div class="item">
               <p>Item<br>4</p>
           </div>
           <div class="item">
               <p>Item<br>5</p>
           </div>
           <div class="item">
               <p>Item<br>6</p>
           </div>
           <div class="item">
               <p>Item<br>7</p>
           </div>
           <div class="item">
               <p>Item<br>8</p>
           </div>
           <div class="item">
               <p>Item<br>9</p>
           </div>
           <div class="item">
               <p>Item<br>10</p>

           </div>
                      <div class="item">
               <p>Item<br>8</p>
           </div>
           <div class="item">
               <p>Item<br>9</p>
           </div>
           <div class="item">
               <p>Item<br>10</p>
           </div>
       </div>
       <div class="MS-controls">
           <button class="MS-left"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
           <button class="MS-right"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
       </div>
   </div>

            </div>
        </div>
    </div>


    <!-- Include jQuery -->
    <script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>

    <!-- Include Multislider -->
    <script src="{% static 'js/multislider.min.js' %}"></script>

    <!-- Initialize element with Multislider -->
    <script>
    $('#exampleSlider').multislider({
        interval: 4000,
        slideAll: true,
        duration: 1500
    });
    </script>

<div class="bordered_1px"></div>

        <div class="container">

            <div class="row justify-content-center">
                <h3>Explore by Category</h3>
                <div class="col-lg-6">
                    <div class="section_title text-center mb_70">

                        <p>Suffered alteration in some form, by injected humour or good day randomised booth anim 8-bit hella wolf moon beard words.</p>
                    </div>
                </div>
            </div>

                <div id="mixedSlider">
                    <div class="MS-content">
                        <div class="item">
                            <a href="/adventure">
                            <div class="imgTitle">
                                <img src="{% static 'img/category/adventure.jpg' %}" alt="" />
                                <h4>ADVENTURE</h4>
                            <p>{{ adventure }} destinations</p>
                                  </div>
                             </a>
                        </div>
                        <div class="item">
                            <a href="/nature">
                            <div class="imgTitle">
                                <img src="{% static 'img/category/nature.jpg' %}" alt="" />
                                 <h4>NATURE</h4>
                            <p>{{ nature }} destinations</p>
                                  </div>
                             </a>
                        </div>
                         <div class="item">
                             <a href="/solo">
                            <div class="imgTitle">
                                <img src="{% static 'img/category/solo.jpg' %}" alt="" />

                                <h4 >Solo</h4>
                                  <p>{{ solo }} destinations</p>
                            </div>
                             </a>
                        </div>
                         <div class="item" >
                             <a href="/group">
                                  <div class="imgTitle">
                                      <img src="{% static 'img/category/group.jpeg' %}" alt="" />
                                      <h4>GROUP</h4>
                                      <p>{{ group }} destinations</p>
                                  </div>
                             </a>
                        </div>
                         <div class="item">
                             <a href="/religous">
                            <div class="imgTitle">
                                <img src="{% static 'img/category/religious.png' %}" alt="" />
                                 <h4>RELIGOUS</h4>
                              <p>{{ religous }} destinations</p>
                                  </div>
                             </a>
                        </div>

                        <div class="item">
                            <a href="/family">
                            <div class="imgTitle">
                                <img src="{% static 'img/category/family.jpg' %}" alt="" />
                                 <h4>FAMILY</h4>
                                <p>{{ family }} destinations</p>
                                  </div>
                             </a>
                        </div>
                        <div class="item">
                            <a href="/romantic">
                            <div class="imgTitle">
                                <img src="{% static 'img/category/couple.jpg' %}" alt="" />
                                 <h4>ROMANTIC</h4>
                             <p>{{ romantic }} destinations</p>
                                  </div>
                             </a>
                        </div>
                         <div class="item">
                             <a href="/wateractivities">
                            <div class="imgTitle">
                                <img src="{% static 'img/category/water.jpeg' %}" alt="" />
                                <h4>WATER ACTIVITIES</h4>
                                    <p>{{ water_act }} destinations</p>
                                  </div>
                             </a>
                        </div>


                    </div>
                    <div class="MS-controls">
                        <button class="MS-left"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
                        <button class="MS-right"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
                    </div>
                </div>
              </div>
 </div>
              </div>


<script src="{% static 'js/slide.js' %}"></script>
<script src="{% static 'js/multislider.js' %}"></script>
<script>

		$('#mixedSlider').multislider({
			duration: 750,
			interval: 3000
		});
</script>


    <!-- testimonial_area  -->
    <div class="testimonial_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="testmonial_active owl-carousel">
			{% for thought in thoug %}
                        <div class="single_carousel">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <div class="single_testmonial text-center">
                                        <div class="author_thumb">
                                            <img src="{{thought.img.url}}"  class="m" alt="">
                                        </div>
                                        <p>{{thought.text}}</p>
                                        <div class="testmonial_author">
                                            <h3>- {{thought.name}}</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
			{% endfor %}
                   
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /testimonial_area  -->

<div class="video_area video_bg overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="video_wrap text-center">
                        <h3>Enjoy Video</h3>
                        <div class="video_icon">
                            <a class="popup-video video_play_button" href="https://www.youtube.com/watch?v=f59dDEk57i0">
                                <i class="fa fa-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<!--Creates the popup body-->
				 <div id="overlay" style="display:none;"></div>
			    	<div class="popup-overlay">
				  <!--Creates the popup content-->
				         <div class="popup-content">
                             <div class="body">
							    <div class="imagefild">
								    <img class="image_get" src=""/>
						    	</div>
							    <div class="text">
								    <div class="header__pop">
								    	<h2 class="header_title"> </h2>
									    <p class="details_text"></p>
									    <button >Book Now</button>
							    	</div>
							    </div>
                             </div>
					<!--popup's close button-->
					<button class="close">X</button> </div>
				</div>
{% endblock content %}
