{% include "base.html" %}
{% block content %}
{% load static %}
<html lang="en">
<head>
	
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	
	
	<!-- Font -->

	
	<!-- Stylesheets -->
	
	<link href="{ static 'common-css/bootstrap.css' %}" rel="stylesheet">
	
	<link href="{% static 'common-css/ionicons.css' %}" rel="stylesheet">
	
	<link href="{% static 'common-css/fluidbox.min.css' %}" rel="stylesheet">
	
	<link href="{% static 'css/profilestyles.css' %}" rel="stylesheet">
	
	<link href="{% static 'css/profileresponsive.css' %}" rel="stylesheet">
	
</head>
<body>
	

	
	<section class="intro-section">
		<div class="container">
			<div class="row">
				<div class="col-md-1 col-lg-2"></div>
				<div class="col-md-10 col-lg-8">
					<div class="intro">
						<div class="profile-img"><img src="{{pdest.img.url}}"></div>
						<h2><b>{{user.first_name}} {{user.last_name}}</b></h2>
						<h4 class="font-yellow">{{user.username}}</h4>
						<ul class="information margin-tb-30">
							<li><b>BORN : </b>August 25, 1987</li>
							<li><b>EMAIL : </b>{{user.email}}</li>

						</ul>

					<ul class="menu_social menu_mm">
						<li class="menu_social_item menu_mm"><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
						<li class="menu_social_item menu_mm"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
						<li class="menu_social_item menu_mm"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
						<li class="menu_social_item menu_mm"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li class="menu_social_item menu_mm"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					</ul>

					</div><!-- intro -->
				</div><!-- col-sm-8 -->
			</div><!-- row -->
		</div><!-- container -->
	</section><!-- intro-section -->
	
	<section class="portfolio-section section">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="heading">
						<h3><b>Portfolio</b></h3>
						<h6 class="font-lite-black"><b>MY WORK</b></h6>
					</div>
				</div><!-- col-sm-4 -->
				<div class="col-sm-8">
					<div class="portfolioFilter clearfix margin-b-80">
						<a href="#" data-filter="*" class="current"><b>ALL</b></a>
						<a href="#" data-filter=".web-design"><b>WEB DESIGN</b></a>
						<a href="#" data-filter=".branding"><b>BRANDING</b></a>
						<a href="#" data-filter=".graphic-design"><b>GRAPHIC DESIGN</b></a>
					</div><!-- portfolioFilter -->
				</div><!-- col-sm-8 -->
			</div><!-- row -->
		</div><!-- container -->
		
		<div class="portfolioContainer">
			
			<div class="p-item web-design">
				<a href="images/portfolio-1-600x400.jpg" data-fluidbox>
					<img src="images/portfolio-1-600x400.jpg" alt=""></a>
			</div><!-- p-item -->
			
			<div class="p-item branding graphic-design">
				<a href="images/portfolio-7-600x800.jpg" data-fluidbox>
					<img src="images/portfolio-7-600x800.jpg" alt=""></a>
			</div><!-- p-item -->
			
			<div class="p-item web-design">
				<a href="images/portfolio-2-600x400.jpg" data-fluidbox>
					<img src="images/portfolio-2-600x400.jpg" alt=""></a>
			</div><!-- p-item -->
			
			<div class="p-item p-item-2 graphic-design">
				<a class="img" href="images/portfolio-8-300x400.jpg" data-fluidbox>
					<img src="images/portfolio-8-300x400.jpg" alt=""></a>
				<a class="img" href="images/portfolio-9-300x400.jpg" data-fluidbox>
					<img src="images/portfolio-9-300x400.jpg" alt=""></a>
			</div><!-- p-item -->
			
			<div class="p-item branding graphic-design">
				<a href="images/portfolio-3-600x400.jpg" data-fluidbox>
					<img src="images/portfolio-3-600x400.jpg" alt=""></a>
			</div><!-- p-item -->
			
			<div class="p-item graphic-design web-design">
				<a href="images/portfolio-4-600x400.jpg" data-fluidbox>
					<img src="images/portfolio-4-600x400.jpg" alt=""></a>
			</div><!-- p-item -->
			
			<div class="p-item  graphic-design branding">
				<a href="images/portfolio-5-600x800.jpg" data-fluidbox>
					<img src="images/portfolio-5-600x800.jpg" alt=""></a>
			</div><!-- p-item -->
				
			<div class="p-item web-design branding">
				<a href="images/portfolio-6-600x800.jpg" data-fluidbox>
					<img src="images/portfolio-6-600x800.jpg" alt=""></a>
			</div><!-- p-item -->

			<div class="p-item p-item-2 graphic-design">
				<a class="img" href="images/portfolio-10-300x400.jpg" data-fluidbox>
					<img src="images/portfolio-10-300x400.jpg" alt=""></a>
				<a class="img" href="images/portfolio-11-300x400.jpg" data-fluidbox>
					<img src="images/portfolio-11-300x400.jpg" alt=""></a>
			</div><!-- p-item -->
		
		</div><!-- portfolioContainer -->
		
	</section><!-- portfolio-section -->
	

	<section class="about-section section">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="heading">
						<h3><b>About me</b></h3>
						<h6 class="font-lite-black"><b>PROFESSIONAL PATH</b></h6>
					</div>
				</div><!-- col-sm-4 -->
				<div class="col-sm-8">
					<p class="margin-b-50">Duis non volutpat arcu, eu mollis tellus. Sed finibus aliquam neque 
					sit amet sodales. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
					Nulla maximus pellentes que velit, quis consequat nulla effi citur at. 
					Maecenas sed massa tristique.Duis non volutpat arcu, eu mollis tellus. 
					Sed finibus aliquam neque sit amet sodales. Lorem ipsum dolor sit amet, 
					consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur 
					adipiscing elit. Nulla maximus pellentes que velit, quis consequat nulla 
					effi citur at.Maecenas sed massa tristique.</p>
							
					
					</div><!-- row -->
				</div><!-- col-sm-8 -->
			</div><!-- row -->
		</div><!-- container -->
	</section><!-- about-section -->
	{% endblock content %}

	<!-- SCIPTS -->
	
	<script src="{% static 'js/common-js/jquery-3.2.1.min.js' %}"></script>
	
	<script src="{% static 'js/common-js/tether.min.js' %}"></script>
	
	<script src="{% static 'js/common-js/bootstrap.js' %}"></script>
	
	<script src="{% static 'js/common-js/isotope.pkgd.min.js' %}"></script>
	
	<script src="{% static 'js/common-js/jquery.waypoints.min.js' %}"></script>
	
	<script src="{% static 'js/common-js/progressbar.min.js' %}"></script>
	
	<script src="{% static 'js/common-js/jquery.fluidbox.min.js' %}"></script>
	
	<script src="{% static 'js/common-js/scripts.js' %}"></script>
</body>
</html>